# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example
*.env

# Vercel
.vercel/

# Firebase service account
*firebase-adminsdk*.json
serviceAccountKey.json

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
.vercel
